<div class="container">
  <aside class="sidebar">
    <h2>
      3Pillar <br />
      Store CMS
    </h2>
    <hr />
    <nav>
      <ul>
        <li><a routerLink="users">Usuarios</a></li>
        <li><a routerLink="products">Productos</a></li>
        <li><a routerLink="categories">Categorías</a></li>
        <br />
        <br />
        <li><p class="clickable" (click)="signOut()">Sign Out</p></li>
      </ul>
    </nav>
  </aside>
  <div class="main-content">
    <header class="header">
      <h1>Panel CMS</h1>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      <p>&copy; 2024 Panel CMS. Todos los derechos reservados.</p>
    </footer>
  </div>
</div>
